## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/weatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lng,Lat,Max Temp,Humidity,Cloudiness,Wind Speed,current_description
0,0,Mataura,NZ,168.8643,-46.1927,59.49,37,14,4.45,few clouds
1,1,Chuy,UY,-53.4616,-33.6971,63.03,92,21,8.32,few clouds
2,2,Port Elizabeth,ZA,25.5701,-33.9180,68.09,88,20,14.97,few clouds
3,3,Souillac,MU,57.5167,-20.5167,81.36,83,75,12.66,broken clouds
4,4,Adrar,MR,-10.0711,20.5022,62.73,8,0,9.13,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
city_data_df.describe()

,City_ID,Lng,Lat,Max Temp,Humidity,Cloudiness,Wind Speed
count,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
mean,340.500000,20.215807,21.368039,48.620147,72.611437,56.428152,8.471349
std,197.020726,88.875315,32.639023,30.572001,20.685536,41.227156,6.578273
min,0.000000,-179.166700,-54.800000,-39.800000,8.000000,0.000000,0.000000
25%,170.250000,-59.036725,-4.568325,27.472500,63.000000,10.000000,3.440000
50%,340.500000,25.316650,26.066650,57.295000,76.000000,68.000000,6.810000
75%,510.750000,100.302050,47.865650,74.040000,88.000000,100.000000,11.877500
max,681.000000,179.316700,78.218600,96.640000,100.000000,100.000000,37.670000

In [6]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

In [8]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lng,Lat,Max Temp,Humidity,Cloudiness,Wind Speed,current_description
3,3,Souillac,MU,57.5167,-20.5167,81.36,83,75,12.66,broken clouds
5,5,Rikitea,PF,-134.9692,-23.1203,79.43,68,100,13.71,overcast clouds
8,8,Perth,AU,115.8333,-31.9333,87.03,57,21,5.75,few clouds
14,14,Sao Joao Da Barra,BR,-41.0511,-21.6403,76.73,85,1,22.17,clear sky
15,15,Mahebourg,MU,57.7000,-20.4081,81.25,83,75,12.66,broken clouds
21,21,Faanui,PF,-151.7500,-16.4833,79.81,76,18,19.19,moderate rain
22,22,Sulangan,PH,123.7228,11.1373,80.58,73,99,16.49,overcast clouds
23,23,Arraial Do Cabo,BR,-42.0278,-22.9661,76.41,87,69,26.08,broken clouds
24,24,Hilo,US,-155.0900,19.7297,76.73,75,20,6.91,few clouds
29,29,Vaini,TO,-175.2000,-21.2000,78.96,89,100,14.97,overcast clouds

In [9]:
# 4a. Determine if there are any empty rows.

In [10]:
preferred_cities_df.count()

City_ID                151
City                   151
Country                151
Lng                    151
Lat                    151
Max Temp               151
Humidity               151
Cloudiness             151
Wind Speed             151
current_description    151
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#  NA

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "current_description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"


hotel_df.head(10)

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,current_description,Lat,Lng,Hotel Name
3,Souillac,MU,81.36,broken clouds,-20.5167,57.5167,
5,Rikitea,PF,79.43,overcast clouds,-23.1203,-134.9692,
8,Perth,AU,87.03,few clouds,-31.9333,115.8333,
14,Sao Joao Da Barra,BR,76.73,clear sky,-21.6403,-41.0511,
15,Mahebourg,MU,81.25,broken clouds,-20.4081,57.7000,
21,Faanui,PF,79.81,moderate rain,-16.4833,-151.7500,
22,Sulangan,PH,80.58,overcast clouds,11.1373,123.7228,
23,Arraial Do Cabo,BR,76.41,broken clouds,-22.9661,-42.0278,
24,Hilo,US,76.73,few clouds,19.7297,-155.0900,
29,Vaini,TO,78.96,overcast clouds,-21.2000,-175.2000,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [14]:
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")  
    
    
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head()

,City,Country,Max Temp,current_description,Lat,Lng,Hotel Name
3,Souillac,MU,81.36,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
5,Rikitea,PF,79.43,overcast clouds,-23.1203,-134.9692,People ThankYou
8,Perth,AU,87.03,few clouds,-31.9333,115.8333,Beatty Lodge
14,Sao Joao Da Barra,BR,76.73,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
15,Mahebourg,MU,81.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [16]:
hotel_df.count()

City                   151
Country                151
Max Temp               151
current_description    151
Lat                    151
Lng                    151
Hotel Name             151
dtype: int64

In [17]:
# 7. Drop the rows where there is no Hotel Name.
# No nulls

In [22]:
clean_hotel_df = hotel_df

In [25]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
output_data_file = "vacation_Database.csv"
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure